@font-face {
    font-family: 'Bebas';
    src: url('fonts/Bebas-Regular.woff2') format('woff2'),
        url('fonts/Bebas-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('fonts/LeagueSpartan-Bold.woff2') format('woff2'),
        url('fonts/LeagueSpartan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html, body {
    background-color: rgb(230, 230, 230);
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    margin-bottom: 0;

}

.container {
    display: flex;
    height: 100vh;
}

.image-container {
    max-width: 35%;
    height: 100vh;
    background-color: blue;
}

img {
    height: 100vh;
    object-fit: cover;
    flex-grow: 0;
    min-width: 35%;

}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 65%;
    background-color: rgb(230, 230, 230);
}

.attribution{
    font-family: bebas;
    color: white;
    position: absolute;
    z-index: 100;
    bottom: 15px;
    width: 35%;
    text-align: center;
    text-wrap: wrap;
}

a {
    font-family: bebas;
    color: white;
    text-wrap: wrap;
}

.logo-bg{
    position: absolute;
    top: 25%;
    min-width: 35%;
    max-width: 35%;
    background-color: rgba(44, 44, 44, 0.35);

}

.logo {
    color: rgb(209, 209, 209);
    font-family: spartan;
    text-align: center;
    font-size: 40px;
}

.description {
    font-family: Spartan;
    margin: 0px;
    line-height: 1.6;
    max-width: 500px;
    padding: 85px 0px 25px 65px;
    width: 100%;
}

.description-header {
    margin: 0px;
    line-height: 1.1;
    margin-bottom: 8px;
}

.description-text {
    margin: 0px;
}

.action-text, .sub-action-text {
    font-family: Spartan;
}

.action-text {
    font-size: 24px;
    margin-bottom: 8px;
}

.sub-action-text {
    font-size: 12px;
    color: #5a5a5a;
    margin-top: 0px;
}

.form-row,.form-row-main {
    font-family: bebas;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.fields-container {
    background-color: #FFFFFF;
    padding: 15px 0px 0px 65px;
    width: 100%;
    box-shadow: 0px 3px 5px rgb(172, 172, 172); 
}

input{
    background: #FFFFFF;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 3px;
    padding: 2px 2px 2px 4px;
}

label {
    font-size: 16px;
}

label,input {
    display: flex;
    flex-direction: row;
    color: #2b2b2b;
}

.input-group {
    margin-right: 65px;
}

input:focus {
    border-color: rgb(0, 68, 255);
}

input:user-invalid {
    border-color: red;
}

.red {
    color: red;
}

.button-section {
    padding: 35px 0px;
}

button {
    padding: 14px 36px;
    font-family: Spartan;
    font-size: 16px;
    color: rgb(231, 231, 231);
    background-color: rgb(13, 43, 34);
    border-width: 0px;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0px 1px 3px rgb(172, 172, 172); 
}

.login {
    color: rgb(13, 43, 34);
    font-family: Spartan;
}

.login-text {
    font-family: Spartan;
    padding: 30px 0px 0px 65px;

}